
<style>
body {
  background-color: black;
  color: green;
}
</style>

<body>

<h1> 
<pre>
Welcome to Chitter
   _____ _     _ _   _            
  / ____| |   (_) | | |           
 | |    | |__  _| |_| |_ ___ _ __ 
 | |    | '_ \| | __| __/ _ \ '__|
 | |____| | | | | |_| ||  __/ |   
  \_____|_| |_|_|\__|\__\___|_|   
</pre>                                                          
</h1>

<form action="/add" method="POST">
  <input label="text-area" type="text" name="text" placeholder="What's peeping?">
  <input type="submit" value="Post!">
</form>

<div label="peep-area">
</div>

</body> 
